body
{
	background-image: linear-gradient(rgb(40, 128, 230), skyblue) ;
	padding: 10px;
}

	.login1 , .login2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#t1 , #t2
{
	display: inline-block;
	margin: 20px;
	width: 280px;
}
.InPut
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#qD
{
background: white;
border-radius: 10px;
border-top: 10px solid #ff0000;
padding: 10px;
float: none;
text-align: left;
}
#log{
    background-image: linear-gradient( white,rgb(14, 14, 255)); 
}
img{
	width: 100px;
	height: 100px;
}